h1 {
    /* color: red; */
    text-align: center;
}

.cust-table table {
    font-color: blue;
}

.custom-table td, th {
    font-color: red;
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
}

#bootstrap-overrides td {
    height: 2px;
}



/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: Teal;
}

/* selected link */
a:active {
  color: red;
}


tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

td.highlight {
    background-color: whitesmoke !important;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}