{% extends 'accounts/base.html' %}

{% block content %}

<h2>All Control Objects</h2>
<ul class="collection">

    <!--Create Data Table-->
    <table id="tableData" class="table table-striped table-bordered" width="100%">

        <!--Create data headings-->
        <thead>
            <tr>
            {% for field in data.0.fields.items %}
                <th class="th-sm">{{field.0}}</th>
            {% endfor %}
            </tr>
        </thead>

        <!--Populate data table-->
        {% for instance in data %}
            <tr>
            {% for field in instance.fields.items %}
                <!-- Create link to details page for "tag" field -->
                {% if field.0 == 'tag' %}
                    <td><a href="/tables/instruments/{{field.1}}">{{field.1}}</a></td>
                {% else %}
                    <td>{{field.1}}</td>
                {% endif %}

            {% endfor %}
            </tr>
        {% endfor %}
    </table>

        <!--Setup dataTable scripts -->
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

</ul>


{% endblock %}
