{% extends 'tables/header.html' %}

{% block content %}

{% load mptt_tags %}

<h1>{{title}}</h1>


<table id="detailsTbl" class="table table-striped table-bordered table-condensed" width="100%">

    <th>Table of Contents</th>
    <!-- Recurse through table.... fuck knows how.. -->
    {% recursetree sections %}
        <tr>
            <td>{{ node.tag }} - {{ node.description }}</td>
            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}
        </tr>
    {% endrecursetree %}



</table>

{% endblock %}