{% extends 'tables/header.html' %}

{% block content %}

<h2>{{title}}</h2>
<ul class="collection">

    <!--Create Data Table-->
    <table id="dataTbl" class="table-condensed" width="100%">

        <!--Populate data table-->
        {% for section in sections.field %}
            {% for field in section.fields.items %}
                {% if field.0 == 'text' %}
                <tr><td>{{field.1}}</td></tr>
                {% endif %}
            {% endfor %}
        {% endfor %}

    </table>

{% endblock %}