{% extends 'tables/header.html' %}

{% block content %}

<h2>{{title}}</h2>
<ul class="collection">

    <!--Create Data Table-->
    <table id="dataTbl" class="table table-striped table-bordered table-condensed" width="100%">

        <!--Create data headings-->
        <thead>
            <tr>
            {% for field in data.0.fields.items %}
                <th>{{field.0}}</th>
            {% endfor %}
            </tr>
        </thead>

        <!--Populate data table-->
        {% for instance in data %}
            <tr>
            {% for field in instance.fields.items %}
                <!-- Create link to details page for "tag" field -->
                {% if field.0 == 'tag' %}
                    <td><a href=/tables/{{address}}/{{field.1}}>{{field.1}}</a></td>
                {% else %}
                    <td>{{field.1}}</td>
                {% endif %}

            {% endfor %}
            </tr>
        {% endfor %}
        <tfoot>
            <tr>
            {% for field in data.0.fields.items %}
                <th>{{field.0}}</th>
            {% endfor %}
            </tr>
        </tfoot>
    </table>

    <!--Setup dataTable scripts
            - Sortable columns
            - Entire table search
            - Pagination
            - Individual Searchable columns
            - Column visibility select
     -->
    <script>

        $(document).ready(function() {

            // Create data table
            var table = $('#dataTbl').DataTable( {
                colReorder: true,
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10', '25', '50', 'Show all' ]],
                columnDefs: [
                    {
                        targets: 0,
                        className: 'noVis'
                    }
                ],
                buttons: [
                    'pageLength',
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    },
                    'csv'
                ]

            } );

            // Setup - add a text input to each footer cell
            $('#dataTbl tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        } );

    </script>

</ul>

{% endblock %}