{% extends 'accounts/layout.html' %}

{% block content %}
<h2>Instruments</h2>
<ul class="collection">

    <table border="1">
        <thead>
            <tr>
                <th><input type="text" name="h1"></th>
                <th><input type="text" name="h2"></th>
            </tr>
            <tr>
                <th>header 1</th>
                <th>header 2</th>
            </tr>

        </thead>
        {% for instrument in instruments %}
            <tr>
                <td><a href="/tables/instruments/{{instrument.id}}">{{instrument.tag}}</a></td>
                <td><a>{{instrument.description}}</a></td>
            </tr>
        {% endfor %}

    </table>

</ul>
{% endblock %}
