{% extends 'tables/layout.html' %}

{% block content %}
<h1 class="center-align blue lighten-3">Instruments</h1>
<ul class="collection">

    <table border="1">
        <tr>
            <th><input type="text" name="h1"></th>
            <th><input type="text" name="h2"></th>
        </tr>
    </table>

    <table border="1">
        <thead>
            <tr>

            </tr>
            <tr>
                <th>header 1</th>
                <th>header 2</th>
            </tr>

        </thead>
        {% for instrument in instruments %}
            <tr>
                <td><a href="/tables/instruments/{{instrument.id}}">{{instrument.tag}}</a></td>
                <td><a>{{instrument.description}}</a></td>
            </tr>
        {% endfor %}

    </table>

</ul>
{% endblock %}
