{% extends 'accounts/layout.html' %}

{% block content %}
{% load render_table from django_tables2 %}

{% load staticfiles %}
<!--<script src="{% static 'tables/js/hello.js' %}"></script>-->
<script src="{% static 'tables/js/filter.js' %}"></script>

<h2>Instruments</h2>
<ul class="collection">

    <br>Table 1 <br>

    <table border="1">
        {% for instrument in instrument_table %}
            <tr>
                <td><a href="/tables/instruments/{{instrument.id}}">{{instrument.tag}}</a></td>
                <td><a>{{instrument.description}}</a></td>
            </tr>
        {% endfor %}

    </table>


    <br>Table 2 <br>


    <!--Create Data Table-->
    <table class="tablesorter" id=dataTable border="1">

        <!--&lt;!&ndash;Filter Script Variables-->
            <!-- - startRow - Start filter at row 2 (ignore filter bar & header)-->
            <!-- - table - Name of table to be filtered-->
         <!--&ndash;&gt;-->
        <!--<script>-->
            <!--startRow = 2;   &lt;!&ndash; Start filter at row 2 (ignore filter bar & header) &ndash;&gt;-->
            <!--table = "dataTable";-->
        <!--</script>-->
        <!--&lt;!&ndash;Create filter text box&ndash;&gt;-->
        <!---->
        <!--<tr>-->
            <!--{% for field in data.0.fields.items %}-->
            <!--<td><input type="text" id={{field.0}} onkeyup="filter(startRow)"></td>-->
            <!--{% endfor %}-->
        <!--</tr>-->

        <!--Create data headings-->
        <tr>
        {% for field in data.0.fields.items %}
            <th>{{field.0}}</th>
        {% endfor %}
        </tr>

        <!--Populate data table-->
        {% for instance in data %}
            <tr>
            {% for field in instance.fields.items %}
                <td>{{field.1}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <br>Table 3<br>
    {% render_table data2 %}


</ul>

{% endblock %}
