{% extends 'accounts/layout.html' %}

{% block content %}
{% load render_table from django_tables2 %}

<h2>Instruments</h2>
<ul class="collection">

    <br>Table 1 <br>

    <table border="1">
        {% for instrument in instrument_table %}
            <tr>
                <td><a href="/tables/instruments/{{instrument.id}}">{{instrument.tag}}</a></td>
                <td><a>{{instrument.description}}</a></td>
            </tr>
        {% endfor %}

    </table>


    <br>Table 2 <br>


    <!--Create Data Table-->
    <table id="testDataTable2" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <!--<table class="tablesorter" id=dataTable border="1">-->

        <!--Create data headings-->
        <thead>
            <tr>
            {% for field in data.0.fields.items %}
                <th class="th-sm">{{field.0}}</th>
            {% endfor %}
            </tr>
        </thead>

        <!--Populate data table-->
        {% for instance in data %}
            <tr>
            {% for field in instance.fields.items %}
                <td>{{field.1}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <br>Table 3<br>
    {% render_table data2 %}


    <!--Setup dataTable scripts -->
    <script>
        $(document).ready(function () {
            $('#testDataTable2').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>


</ul>


{% endblock %}
