{% extends 'accounts/layout.html' %}

{% block content %}
<h2>Instruments</h2>
<ul class="collection">

    <br> table 1 <br>

    <table border="1">
        {% for instrument in instrument_table %}
            <tr>
                <td><a href="/tables/instruments/{{instrument.id}}">{{instrument.tag}}</a></td>
                <td><a>{{instrument.description}}</a></td>
            </tr>
        {% endfor %}

    </table>

    <br> table 2 <br>

    <table border="1">

        {% for instrument in instrument_table %}
            <tr>
                    <td>{{instrument}}</td>
            </tr>
        {% endfor %}

    </table>

    <br> table 3 <br>

    <table border="1">
        {% for instance in data %}
            <tr>
            {% for field in instance.fields.items %}

                <td>{{field}}</td>
<!--                    {% for value in field %}
                         <td>{{value}}</td>
                    {% endfor %}-->

            {% endfor %}
            </tr>

        {% endfor %}
    </table>



</ul>
{% endblock %}
